apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- configmap.yaml
- deployment.yaml
- service.yaml
- ingress.yaml


namespace: default
labels:
- includeSelectors: true
  pairs:
    app: sa-demo
    environment: production
